<!DOCTYPE html>
<html>
  <head>
    <title>Student Keep -</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="src/icons/favicon.ico"
    />
    <link rel="stylesheet" type="text/css" href="../styles/style_coming_soon.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400|Ubuntu:700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app">
      <div class="header">
        <img src="../src/svg/logo_studentkeep.svg" class="header_logo" />
      </div>
      <div class="body">
        <span class="title">Página em construção</span>
        <p class="subTitle">
          Passa aqui nos próximos dias para saberes mais sobre este projeto e
          como podes participar.
        </p>
        <p class="subTitle">Ate já!</p>

        <img class="underdev_svg" src="../src/svg/illustration_underdev.svg" />
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
