<!DOCTYPE html>
<html>
  <head>
    <title>Student Keep</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../src/icons/favicon.ico"
    />
    <link rel="stylesheet" type="text/css" href="../src/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../src/css/bootstrap.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:700&display=swap"
      rel="stylesheet"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-4N0Z2DTDPP"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-4N0Z2DTDPP");
    </script>
  </head>
  <body class="privacy_body">
    <div class="app">
      <img
        src="../src/svg/icon_arrow_backtotop.svg"
        onclick="topFunction()"
        id="myBtn"
        title="Go to top"
      />
      <!-- Header -->
      <nav class="header navbar_proj navbar-light bg-ligh">
        <div class="col">
          <img src="../src/svg/logo_studentkeep.svg" class="header_logo" />
        </div>
        <div class="col text-right navbar navbar-expand-sm justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class=" nav_subTitle" href="../index.html">Início</a>
            </li>
            <li class="nav-item">
              <a class=" nav_subTitle" href="../index.html#sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class=" nav_subTitle" href="../index.html#perguntas"
                >Perguntas</a
              >
            </li>
          </ul>
          <a
            class="blue_btn"
            href="https://forms.gle/cDLMPN9tT6TUfL6DA"
            target="_blank"
            >Ajudar!</a
          >
        </div>
      </nav>
      <div class="path">
        <div class="blue_btn_ctr">
          <a class="blue_btn_path" href="../index.html">Página Inicial</a>
        </div>
        <img class="left_arrow" src="../src/svg/icon_arrow_left.svg" />
        <div class="green_btn_ctr">
          <a class="green_btn_path" href="politicaPrivacidade.html"
            >Política de Privacidade</a
          >
        </div>
      </div>
      <!-- Body -->
      <div class="body">
        <!-- Privacy -->
        <div class="privacy_area">
          <span class="title_yellow">Política de Privacidade</span>
          <hr class="yellow_hr" />

          <div class="privacy">
            <p class="privacy_header">
              Política de Privacidade
            </p>
            <p class="privacy_text">
              No dia 25 de maio de 2018 entrou em vigor o novo Regulamento Geral
              de Proteção de Dados, aplicável a todos os Estados Membros da
              União Europeia. Este Regulamento tem como uma das suas prioridades
              a protecção dos direitos dos titulares dos dados pessoais.
            </p>
            <p class="privacy_text">
              A Associação AlphaCoimbra, pretende cumprir todas as normas legais
              vigentes, não obstante o Estado de Emergência actualmente
              decretado em Portugal, pelo que, valorizando e respeitando os
              direitos de todos os envolvidos e regendo-se por princípios de
              privacidade, confidencialidade e transparência, estabelece-se esta
              Política de Privacidade que, dando cumprimento ao previsto nos
              artigos 13.º e 14.º do Regulamento Geral de Proteção de Dados, se
              rege pelos seguintes pontos:
            </p>
            <div class="privacy_points">
              <p class="privacy_point">
                <span class="bold_number">1.</span> A Entidade responsável pelo
                tratamento de dados pessoais é Associação AlphaCoimbra, sendo
                que o exercício de qualquer direito e/ou contacto deverá ser
                efectuado para o seguinte e-mail:
                studentkeep.tech4covid19@gmail.com, ou através de carta enviada
                para Avenida Sá da Bandeira, 33 2ª Fase 6º A, 3000-351 Coimbra.
              </p>
              <p class="privacy_point">
                <span class="bold_number">2.</span> Os titulares das
                responsabilidades parentais dão expressa autorização ou
                consentimento ao tratamento dos dados pessoais a crianças com
                menos de 16 anos, nos termos do previsto nesta Política de
                Privacidade.
              </p>
              <p class="privacy_point">
                <span class="bold_number">3.</span> São somente recolhidos os
                dados pessoais exigíveis para a prossecução dos objectivos desta
                plataforma, como seja o comodato gratuito de equipamentos a
                alunos com necessidades, para acompanhamento das actividades que
                as escolas/professores estão a propor.
              </p>
              <p class="privacy_point">
                <span class="bold_number">4.</span> Todos os dados pessoais
                objecto de tratamento têm como fundamento jurídico a necessidade
                para a execução do contrato ou o cumprimento de obrigações
                legais, o que torna lícito o seu tratamento pelo Responsável
                pelo Tratamento de Dados. Com efeito, o nome, cartão de cidadão,
                morada e código postal são imprescindíveis para a outorga do
                contrato de Comodato Gratuito. O agrupamento escolar, a escola,
                o ano e a turma são também dados pessoais imprescindíveis para
                que se possa aferir, junto das entidades competentes, que o
                Beneficiário é mesmo aluno e que tem as necessidades que se
                pretendem colmatar com esta plataforma, cumprindo assim as
                exigências para beneficiar deste programa.
              </p>
              <p class="privacy_point">
                <span class="bold_number">5.</span> Os dados pessoais não serão
                transmitidos a quaisquer outras entidades.
              </p>
              <p class="privacy_point">
                <span class="bold_number">6.</span> Os dados pessoais dos
                utentes serão conservados, durante o prazo necessário para
                cumprimentos dos objectivos a que esta plataforma se propõe. Com
                a devolução dos equipamentos ou transmissão definitiva da sua
                propriedade, consideram-se todos os contratos cessados, pelo que
                se procederá ao apagamento total dos dados pessoais que tenham
                sido recolhidos.
              </p>
              <p class="privacy_point">
                <span class="bold_number">7.</span> É garantido ao titular dos
                dados pessoais o direito de acesso, retificação, oposição,
                apagamento, limitação do tratamento e portabilidade dos seus
                dados pessoais. O exercício dos direitos pode ser solicitado
                através dos contactos telefónicos 239 065 065, pedido por
                escrito para a morada Avenida Sá da Bandeira 33 2ª Fase 6º A,
                3000-351 Coimbra ou para o seguinte endereço eletrónico
                studentkeep.tech4covid19@gmail.com.
              </p>
              <p class="privacy_point">
                <span class="bold_number">8.</span> O titular dos dados pessoais
                pode reclamar os seus direitos quer junto da Associação
                AlphaCoimbra, quer ainda junto da Comissão Nacional de Protecção
                de Dados, com morada na Rua de São Bento, n.º 148, 3º, 1200-821
                Lisboa, Telefone: 213928400, Fax: 213976832 e e-mail:
                geral@cnpd.pt.
              </p>
              <p class="privacy_point">
                <span class="bold_number">9.</span> Os dados pessoais são uma
                obrigação legal e contratual, sendo por isso absolutamente
                imprescindíveis e necessários à prossecução dos objectivos e
                contratos legais da presente plataforma. Pelo exposto, os seus
                titulares estão obrigados a fornecer estes dados, sob pena de
                não ser possível o empréstimo de qualquer equipamento.
              </p>
              <p class="privacy_point">
                <span class="bold_number">10.</span> A Associação AlphaCoimbra
                assume o firme propósito de encetar todos os esforços e
                diligências para protecção dos dados pessoais dos utilizadores
                deste website. Com este objectivo, são adoptados procedimentos
                de segurança para encriptação de dados através do protocolo SSL.
                Contudo, a Associação AlphaCoimbra declina a responsabilidade
                por todas as violações que resultem da falta de segurança dos
                próprios utilizadores e dos seus computadores.
              </p>
              <p class="privacy_point">
                <span class="bold_number">10.</span> A Associação AlphaCoimbra
                reserva-se no direito de, a qualquer momento e sem aviso prévio,
                proceder à alteração da sua Política de Privacidade. Porém, após
                qualquer alteração os utilizadores desde website poderão
                visualizar as mesmas para que seja cumprido o seu direito à
                informação.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <div class="navbar_proj">
        <div class="col"></div>
        <div class="col bottom_imgs">
          <img
            src="../src/svg/logo_tech4covid19.svg"
            style="width: 75%; z-index:2;"
            onclick="openUrl('https:\/\/tech4covid19.org/')"
          />
          <img
            src="../src/svg/logo_alphacoimbra.svg"
            style="width: 65%; z-index:1; margin-left:-25%"
            onclick="openUrl('http:\/\/alphacoimbra.com/')"
          />
        </div>

        <div class="col">
          <a href="views/termosEcondicoes.html" class="side_text"
            >Termos e condições</a
          >
          <a href="views/politicaPrivacidade.html" class="side_text"
            >Política de privacidade</a
          >
        </div>
      </div>
    </div>
  </div>
    <script src="../src/js/script.js"></script>
  </body>
</html>
