<!DOCTYPE html>
<html>
  <head>
    <title>Student Keep</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../src/icons/favicon.ico"
    />
    <link rel="stylesheet" type="text/css" href="../src/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../src/css/bootstrap.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:700&display=swap"
      rel="stylesheet"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-4N0Z2DTDPP"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-4N0Z2DTDPP");
    </script>
  </head>
  <body class="termos_body">
    <div class="app">
      <button onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="src/svg/icon_arrow_down.svg" class="up_arrow" />
      </button>
      <!-- Header -->
      <nav class="header navbar_proj navbar-light bg-ligh">
        <div class="col">
          <img src="../src/svg/logo_studentkeep.svg" class="header_logo" />
        </div>
        <div class="col text-right navbar navbar-expand-sm justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class=" nav_subTitle" href="../index.html">Início</a>
            </li>
            <li class="nav-item">
              <a class=" nav_subTitle" href="../index.html#sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class=" nav_subTitle" href="../index.html#perguntas"
                >Perguntas</a
              >
            </li>
          </ul>
          <a
            class="blue_btn"
            href="https://forms.gle/cDLMPN9tT6TUfL6DA"
            target="_blank"
            >Ajudar!</a
          >
        </div>
      </nav>
      <!-- Path -->
      <div class="path">
        <div class="blue_btn_ctr">
          <a class="blue_btn_path" href="../index.html">Página Inicial</a>
        </div>
        <img class="left_arrow" src="../src/svg/icon_arrow_left.svg" />
        <div class="green_btn_ctr">
          <a class="green_btn_path" href="termosEcondicoes.html"
            >Termos e Condições</a
          >
        </div>
      </div>
      <!-- Body -->
      <div class="body">
        <!-- Privacy -->
        <div class="privacy_area">
          <span class="title_yellow">Termos e Condições</span>
          <hr class="yellow_hr" />

          <div class="privacy">
            <p class="privacy_header">
              Termos e Condições
            </p>
            <p class="privacy_text">
              O beneficiário deste programa ou os seus representantes legais
              (doravante BENEFICIÁRIOS), ao requererem qualquer equipamento,
              estão a aceitar os presentes termos e condições, outorgando um
              CONTRATO DE COMODATO, que se rege pelas seguintes cláusulas:
            </p>
            <div class="privacy_points">
              <p class="privacy_point">
                <span class="bold_number">1.</span> Os equipamentos que são
                emprestados aos BENEFICIÁRIOS só podem ser utilizados para
                acompanhamento de actividades escolares.
              </p>
              <p class="privacy_point">
                <span class="bold_number">2.</span> Durante a vigência deste
                contrato, os BENEFICIÁRIOS não se podem arrogar de qualquer
                direito de propriedade sobre os bens emprestados.
              </p>
              <p class="privacy_point">
                <span class="bold_number">3.</span> Fica expressamente vedado
                aos BENEFICIÁRIOS a instalação de alguma aplicação ou qualquer
                software ilegal, no equipamento que lhe seja disponibilizado,
                sendo responsáveis por quaisquer consequências para o COMODANTE
                decorrentes do não cumprimento do estipulado neste número.
              </p>
              <p class="privacy_point">
                <span class="bold_number">4.</span> Os BENEFICIÁRIOS
                comprometem-se a devolver ao COMODANTE todos os equipamentos que
                lhe tenham sido disponibilizados, assim que terminar o Estado de
                Emergência decretado ou forem reabertas as Escolas.
              </p>
              <p class="privacy_point">
                <span class="bold_number">5.</span> Os BENEFICIÁRIOS estão
                obrigados a um especial dever de cuidado com os equipamentos
                emprestados, devendo sempre zelar pelo seu bom estado de
                conservação e funcionamento.
              </p>
              <p class="privacy_point">
                <span class="bold_number">6.</span> A Política de Privacidade
                faz parte integrante dos presentes termos e condições (CONTRATO
                DE COMODATO) e pode ser acedido aqui.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <div class="navbar_proj">
        <div class="col"></div>
        <div class="col">
          <img src="../src/png/bottom_logos.png" class="bottom_logos" />
        </div>

        <div class="col">
          <a href="" class="side_text">Termos e condições</a>
          <a href="politicaPrivacidade.html" class="side_text"
            >Política de privacidade</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
